body {
	background-color: #2980b9;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: white;
	font-family: Verdana
}

img {
	border-radius: 200px;
	padding: 50px;
}

h1 {
	font-size: 250%;
}

h2 {
	font-size: 200%;
}

div {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: #3498db;
	padding: 10px;
}

ul {
	list-style-type: none;
}

ul li {

}

ul li ul {
	
}

.link-box {
	padding-top: 150px;
	padding-bottom: 150px;
	background-color: #1abc9c;
	border-top: solid;
	border-bottom: solid;
	border-width: 5px;
	border-color: white;
}

.link {
	display: inline;
	padding: 50px;
}

a {
	text-decoration: none;
}